@model SN_BNB.Models.Fixture

@{
    ViewData["Title"] = "Delete";
}
<link href="~/css/button.css" rel="stylesheet" />
<br />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FixtureDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FixtureDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AwayScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AwayScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idHomeTeam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idHomeTeam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idAwayTeam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AwayTeam.TeamName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BonusPoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BonusPoint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Season.Season_Title)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-light" /> |
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </form>
</div>
