@model PaginatedList<SN_BNB.Models.Fixture>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/team.css" rel="stylesheet" />

<div class="container bg-light">

            <h3 class="pt-3">Schedule</h3>

            @if (User.IsInRole("Admin"))
            {<p id="createNew">
                    <a style="color:purple;" asp-action="Create">Create New</a>
                </p>
            }


             <form asp-action="Index">

                 <nav class="navbar navbar-expand-lg navbar-light bg-light">
                     <a class="navbar-brand" href="#"></a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         <ul class="navbar-nav mr-auto">
                             @if (User.Identity.IsAuthenticated)
                             {
                                 <li class="nav-item">
                                     @Html.CheckBox("RadioChecked", false, htmlAttributes: new { @class = "form-check-input", @align = "Right", onchange = "this.form.submit();" })
                                     <label class="form-check-label" for="radio">My Team Schedule</label>
                                 </li>
                             }
                         </ul>

                         @Html.DropDownList("DivisionID", null, "All Divisions", htmlAttributes: new { @class = "form-control", @style = "width:290px; margin-right:10px", onchange = "this.form.submit();" })

                         @Html.TextBox("searchString", null, htmlAttributes: new { @class = "form-control", @placeholder = "Search by Team/Season", @style = "width:250px; margin-right:10px" })


                         <button id="btnSearch" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


                     </div>

                 </nav>

                 <input type="hidden" name="postBack" value="a" />
                 <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
                 <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
				 <div class="table-responsive-sm">
				 	<table class="table table-light table-hover table-striped">
				 		<thead class="thead-light">
				 			<tr>
				 				<th>
				 					<input id="playCol" type="submit" name="actionButton" value="Season" class="btn btn-link" />
				 				</th>
				 				<th>
				 					<input id="playCol" type="submit" name="actionButton" value="Time" class="btn btn-link" />
				 				</th>
				 				<th>
				 					<input id="playCol" type="submit" name="actionButton" value="Home Team" class="btn btn-link" />
				 				</th>
				 				<th>
				 					<input id="playCol" type="submit" name="actionButton" value="Score" class="btn btn-link" />
				 				</th>
				 				<th>
				 					<input id="playCol" type="submit" name="actionButton" value="Away Team" class="btn btn-link" />
				 				</th>
				 				<th>
				 					<input id="playCol" type="submit" name="actionButton" value="Score" class="btn btn-link" />
				 				</th>
				 				<th></th>
				 			</tr>
				 		</thead>
				 		<tbody>
				 			@foreach (var item in Model)
						  {
				 			<tr style="@(ViewBag.TeamID == item.HomeTeam.ID || ViewBag.TeamID == item.AwayTeam.ID ? "background-color:  rgba(109, 97, 190, 0.25);" : string.Empty)">
				 				<td>
				 					@Html.DisplayFor(modelItem => item.Season.Season_Title)
				 		</td>
				 		<td>
				 			@item.FixtureDateTime.ToString("MM/dd/yyyy")
				 	</td>
				 	<td>
				 		@if (item.HomeScore >= item.AwayScore && !(item.HomeScore == 0 && item.AwayScore == 0))
					   {
				 		<a href="/Teams/Details/@item.HomeTeam.ID"><b>@Html.DisplayFor(modelItem => item.HomeTeam.TeamName)</b></a>
				}
				else
				{
				 <a href="/Teams/Details/@item.HomeTeam.ID">@Html.DisplayFor(modelItem => item.HomeTeam.TeamName)</a>
			 }
				 </td>
				 <td>
				 	@if (item.HomeScore >= item.AwayScore && !(item.HomeScore == 0 && item.AwayScore == 0))
					{
				 	@if (item.BonusPoint == "Home")
					{
				 	<b>@(item.HomeScore + 1)</b>
			 }
			 else if (item.BonusPoint == "Split")
			 {

				 <b>@(Convert.ToDouble(item.HomeScore) + 0.5)</b>
			 }
			 else
			 {
				 <b>@Html.DisplayFor(modelItem => item.HomeScore)</b>
			 }
			 }
			 else
			 {
				 @if (item.BonusPoint == "Home")
				 {
				 	@(item.HomeScore + 1)
			 }
			 else if (item.BonusPoint == "Split")
			 {

				 @(Convert.ToDouble(item.HomeScore) + 0.5)
			 }
			 else
			 {
				 @Html.DisplayFor(modelItem => item.HomeScore)
			 }
			 }
				 </td>

				 <td>
				 	@if (item.AwayScore >= item.HomeScore && !(item.HomeScore == 0 && item.AwayScore == 0))
					{
				 	<a href="/Teams/Details/@item.AwayTeam.ID">
				 		<b>@Html.DisplayFor(modelItem => item.AwayTeam.TeamName)</b>
				 </a>
			 }
			 else
			 {
				 <a href="/Teams/Details/@item.AwayTeam.ID">
				 	@Html.DisplayFor(modelItem => item.AwayTeam.TeamName)
				 </a>
			 }
				 </td>

				 <td>
				 	@if (item.AwayScore >= item.HomeScore && !(item.HomeScore == 0 && item.AwayScore == 0))
					{
				 	@if (item.BonusPoint == "Away")
					{
				 	<b>@(item.AwayScore + 1)</b>
			 }
			 else if (item.BonusPoint == "Split")
			 {

				 <b>@(Convert.ToDouble(item.AwayScore) + 0.5)</b>
			 }
			 else
			 {
				 <b>@Html.DisplayFor(modelItem => item.AwayScore)</b>
			 }
			 }
			 else
			 {
				 @if (item.BonusPoint == "Away")
				 {
				 	@(item.AwayScore + 1)
			 }
			 else if (item.BonusPoint == "Split")
			 {

				 @(Convert.ToDouble(item.AwayScore) + 0.5)
			 }
			 else
			 {
				 @Html.DisplayFor(modelItem => item.AwayScore)
			 }
			 }
				 </td>
				 @if (User.IsInRole("Admin"))
				 {
				 	<td>
				 		<a asp-action="Edit" asp-route-id="@item.ID">
				 			<img src="~/images/edit.png" style="width:28px; height:28px" data-toggle="tooltip" title="Edit" />
				 			<span></span>
				 		</a> |
				 		<a asp-action="Details" asp-route-id="@item.ID">
				 			<img src="~/images/detail.png" style="width:28px; height:28px" data-toggle="tooltip" title="Details" />
				 		</a> |
				 		<a asp-action="Delete" asp-route-id="@item.ID">
				 			<img src="~/images/Archive.png" style="width:28px; height:28px" data-toggle="tooltip" title="Archive" />
				 		</a>
				 	</td>
				}

				 </tr>
			 }
				 	</tbody>
				 </table>

				 @{
					var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
					var nextDisabled = !Model.HasNextPage ? "disabled" : "";
				 }

				 <a asp-action="Index"
				asp-route-sortOrder="@ViewData["CurrentSort"]"
				asp-route-page="@(Model.PageIndex - 1)"
				asp-route-currentFilter="@ViewData["CurrentFilter"]"
				class="btn btn-default @prevDisabled">
				 	Previous
				 </a>
				 <a asp-action="Index"
				asp-route-sortOrder="@ViewData["CurrentSort"]"
				asp-route-page="@(Model.PageIndex + 1)"
				asp-route-currentFilter="@ViewData["CurrentFilter"]"
				class="btn btn-default @nextDisabled">
				 	Next
				 </a>
				 </div>
             </form>
</div>
