@model IEnumerable<SN_BNB.Models.Fixture>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-group">
        <label>Search by Team</label>
        @Html.DropDownList("TeamID", null, "All Teams", htmlAttributes: new{ @class = "form-control"})
    </div>
    <input type="submit" name="actionButton" value="Search fixture" class="btn" />
    <a asp-action="Index">Clear</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Date Time" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Home Score" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Away Score" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Home Team" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Away Team" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Location" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Season" class="btn btn-link" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datetime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeTeamID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayTeamID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Season.ID)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>