@model IEnumerable<SN_BNB.Models.Team>

@{
    ViewData["Title"] = "Index";
}
<br />
<link href="~/css/team.css" rel="stylesheet" />
<h2>Teams</h2>
<div class="container">
    @if (User.IsInRole("Admin"))
    {<p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    <form asp-action="Index">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <div class="form-group">
                            <label>Search By Team Name</label>
                            @Html.TextBox("searchString", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="form-group">
                            <label>Select a Division:</label>
                            @Html.DropDownList("DivisionID", null, "All Divisions", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </li>
                </ul>
                <button id="btnSearch" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </nav>
        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

        <div class="table-responsive-sm">
            <table class="table table-light table-hover table-striped">
                <thead class="thead-light">
                    <tr id="playCol">
                        <th>
                            <input type="submit" name="actionButton" value="Team Name" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Win(s)" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Loss(es)" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Point(s)" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Division" class="btn btn-link" />
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="aa">
                                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.TeamName) </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamWins)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamLosses)
                            </td>
                            <td>
                                <span data-toggle="tooltip" title="" data-original-title="Points earned by team">
                                    @Html.DisplayFor(modelItem => item.TeamPoints)
                                </span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Division.DivisionName)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Captain"))
                                {
                                    @if (ViewBag.CaptainTeamID == -1 || item.ID == ViewBag.CaptainTeamID)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.ID">
                                            <img src="~/images/edit.png" style="width:28px; height:28px" />
                                        </a>
                                        <span>|</span>
                                    }
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.ID">
                                        <img src="~/images/Archive.png" style="width:28px; height:28px" />
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </form>
</div>
