@model IEnumerable<SN_BNB.Models.Team>

@{
    ViewData["Title"] = "Index";
}
<br />
<link href="~/css/team.css" rel="stylesheet" />
<h3>Teams</h3>
<div class="container">
    @if (User.IsInRole("Admin"))
    {<p id="createNew">
            <a style="color:purple;" asp-action="Create">Create New</a>
        </p>
    }
    <form asp-action="Index">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div id="division" class="collapse navbar-collapse" id="navbarSupportedContent">
                @Html.DropDownList("DivisionID", null, "Select a Division", htmlAttributes: new { @class = "form-control", @style = "width:auto;" })
                @Html.TextBox("searchString", null, htmlAttributes: new { @class = "form-control", @placeholder = "Search by Team" })
                <button id="btnSearch" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </nav>
        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

        <div class="table-responsive-sm">
            <table class="table table-light table-hover table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="Team Name" class="btn btn-link" />
                        </th>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="Won" class="btn btn-link" />
                        </th>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="Lost" class="btn btn-link" />
                        </th>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="Point(s)" class="btn btn-link" />
                        </th>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="Division" class="btn btn-link" />
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id="aa">
                                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.TeamName) </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamWins)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeamLosses)
                            </td>
                            <td>
                                <span data-toggle="tooltip" title="" data-original-title="Points earned by team">
                                    @Html.DisplayFor(modelItem => item.TeamPoints)
                                </span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Division.DivisionName)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Captain"))
                                {
                                    @if (ViewBag.CaptainTeamID == -1 || item.ID == ViewBag.CaptainTeamID)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.ID">
                                            <img src="~/images/edit.png" style="width:28px; height:28px" data-toggle="tooltip" title="Edit" />
                                        </a>

                                    }
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <span>|</span>
                                    <a asp-action="Delete" asp-route-id="@item.ID">
                                        <img src="~/images/Archive.png" style="width:28px; height:28px" data-toggle="tooltip" title="Archive" />
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </form>
</div>
