@model IEnumerable<SN_BNB.Models.Team>

@{
    ViewData["Title"] = "Index";
}
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">

    <div class="form-group">
        <label>Search by team Name</label>
        @Html.TextBox("searchString", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Select a Division:</label>
        @Html.DropDownList("DivisionID", null, "All Divisions", htmlAttributes: new { @class = "form-control" })
    </div>
    <input type="submit" name="actionButton" value="Search" class="btn btn-link" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <a asp-action="Index">Clear</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Team Name" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Point(s)" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Created On" class="btn btn-link" />
                </th>  @*disabled="disabled"*@
                <th>
                    <input type="submit" name="actionButton" value="Division" class="btn btn-link" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamPoints)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamCreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Division.DivisionName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
