@model IEnumerable<SN_BNB.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player1Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fixture.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
