@model IEnumerable<SN_BNB.Models.TeamScore>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
<input type="hidden" name="sortField" value="@ViewData["sortField"]" />
<form asp-action="Index">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Team" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Fixture" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Fixture Score" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Approved" disabled="disabled" class="btn btn-link" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Team.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fixture.ID)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FixtureScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamScoreApprovedBy)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Archive</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
