@model SN_BNB.Models.Season

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Season</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach(Fixture fixture in Model.Fixtures)
        {
        <dt>
            @fixture.FixtureDateTime
        </dt>
            <dd>
                @fixture.HomeScore
            </dd>

        }
        @*<dt>
            @Html.DisplayNameFor(model => model.Season_Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Season_Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonEnd)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-light" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</div>
