@model IEnumerable<SN_BNB.Models.Season>

@{
    ViewData["Title"] = "Inconsistencies";
}

<h2>Inconsistencies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @foreach (var fixture in item.Fixtures)
            {
                @foreach (var match in fixture.Matches)
                {
                    <tr style="@(match.FlaggedForInconsistencies==true ? "background-color:  yellow" : string.Empty)">
                        <td>
                            @Html.DisplayFor(modelItem => match.MatchPosition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => match.Player1.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => match.Player2.FullName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
