@model IEnumerable<SN_BNB.Models.Season>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/team.css" rel="stylesheet" />
<br />
<h2>Seasons</h2>

<p id="createNew">
    <a style="color:purple;" asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="ExcelUpload" id="btnSearch" style="padding:10px 10px 10px 10px">Upload Spreadsheet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <input id="playCol" type="submit" name="actionButton" value="Season" class="btn btn-link" />
            </th>
            <th>
                <input id="playCol" type="submit" name="actionButton" value="Start Date" class="btn btn-link" />
            </th>
            <th>
                <input id="playCol" type="submit" name="actionButton" value="End Date" class="btn btn-link" />
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Season_Title)
                </td>
                <td>
                    @item.SeasonStart.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @item.SeasonEnd.ToString("MM/dd/yyyy")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">
                        <img src="~/images/edit.png" style="width:28px; height:28px" data-toggle="tooltip" title="Edit" />
                        <span></span>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.ID">
                        <img src="~/images/detail.png" style="width:28px; height:28px" data-toggle="tooltip" title="Details" />
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">
                        <img src="~/images/Archive.png" style="width:28px; height:28px" data-toggle="tooltip" title="Archive" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>