@model IEnumerable<SN_BNB.Models.Season>

@{
    ViewData["Title"] = "Index";
}
<br />
<h2>Seasons</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="ExcelUpload">Upload Spreadsheet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonEnd)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Season_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
