@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link href="~/css/style.css" rel="stylesheet" />

<body>
    <content>
        <div class="container">

            <div class="jumbotron">
                <h3>Welcome!</h3>
                <p>This is a simple hero unit, a simple jumbotron-style component for welcoming users to the page</p>
                <hr>
                <p>To learn more about Squash Niagara click one of the buttons below.</p>
                <p>
                    @*<a class="btn btn-primary" href="/Home/About" role="button">Learn more</a>*@
                    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                        <div class="container-fluid">
                            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>*@
                            @*<div class="collapse navbar-collapse" id="navbarSupportedContent">*@
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a id="btn" class="btn btn-primary" style="margin: 0px 5px 5px 0px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Rules
                                    </a>
                                    <div id="mainNav" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/Home/LeagueRules">League Rules</a>
                                        <a class="dropdown-item" href="/Home/LeagueConstitution">League Constitution</a>
                                    </div>
                                <li class="nav-item">
                                    <a id="btn" class="btn btn-primary" href="/Home/Documents">Documents</a>
                                </li>
                            </ul>
                            @*</div>*@
                        </div>
                    </nav>
                </p>
            </div>
        </div>
        @*<nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Rules
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Home/LeagueRules">League Rules</a>
                                    <a class="dropdown-item" href="/Home/LeagueConstitution">League Constitution</a>
                                </div>
                            <li class="nav-item ">
                                <a class="nav-link" href="/Home/Documents">Documents</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@
        @if (User.Identity.IsAuthenticated)
        {
            <div class="container">
                <div class="row">
                    <div class="card">

                        <div class="card-header">
                            <span id="userID">@UserManager.GetUserName(User)</span>'s Upcoming Fixture

                        </div>
                        <div class="card-body">
                            <ul>
                                @foreach (Fixture f in ViewBag.fixture)
                                {
                                    <li>
                                        <span id="dateTime">@f.FixtureDateTime.ToLongDateString()</span>
                                        <span id="homeTeam">@f.HomeTeam.TeamName</span>
                                        <span style="font-weight:600; font-size:16px">vs</span>
                                        <span id="awayTeam">@f.AwayTeam.TeamName</span>
                                    </li>
                                }
                            </ul>

                            <a id="btn" href="/Fixtures/Index" class="btn btn-primary" style="font-weight:700;">All Matches</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                @foreach (Match m in ViewBag.match)
                                {
                                    <span id="userID">@m.Player.FullName</span><p>'s Last Fixture</p>

                                    <ul>
                                        <li>
                                            <br /><div>@m.MatchTime.ToLongDateString()</div>
                                            @*<span id="homeTeam">@m.Player.FullName</span>
                                                vs
                                                <span id="awayTeam">@f.AwayTeam.TeamName</span>*@
                                        </li>

                                    </ul>
                                }
                            </div>

                            <div class="card-body">                               
                            </div>
                        </div>
                    </div>
                </div><br>
            </div>
        }

        <h5 style="padding: 10px; font-weight:700;">Position Leaders</h5>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Position 1
                    </div>
                    <div class="card-body">
                        <b>Huck, Murray</b>
                        <br>
                        <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Position 2
                    </div>
                    <div class="card-body">
                        <b>Forgeron, Dave</b>
                        <br>
                        <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Position 3
                    </div>
                    <div class="card-body">
                        <b>Vanderzalm, Brett</b>
                        <br>
                        <p class="card-text" style="color: limegreen"><i>Confirmed</i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Position 4
                    </div>
                    <div class="card-body">
                        <b>Scott, Angus</b>
                        <br>
                        <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

    </content>
</body>
