
@{
    ViewData["Title"] = "Standings";
}
<br />
<h2>Standings</h2>
<p>
    Players must play at least 50% of their team's fixtures at a given position in order to qualify.<br /><br />

    <i style="color:red;">* For positions to be Confirmed the first and second place players must have faced each other at least once.</i>
</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:300px; margin-bottom:10px;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="width:auto">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    2018-2019 Men's Divisions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">2018-2019 Men's Division 1/2</a>
                    <a class="dropdown-item" href="#">2018-2019 Men's Division 3</a>
                    <a class="dropdown-item" href="#">2018-2019 Men's Division 4</a>
                    <a class="dropdown-item" href="#">2018-2019 Women's Division</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col">
        <div class="card" style="max-width: 16rem;">
            <div class="card-header">
                Position 1
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <th style="  padding-bottom: 15px;">Player</th>
                        <th style="padding-left: 50px;">%</th>
                    </tr>

                    @foreach (Player p in ViewBag.ListOfPosOnePlayers)
                    {
                    <tr>
                        <td style="padding-bottom: 15px; padding-top: 15px;">@Html.Raw(p.FullName)</td>
                        <td style="padding-left: 50px;">@Html.Raw(p.WinPerPos(1).ToString("P0"))</td>
                    </tr>
                    }
                </table>
                <hr />
                <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="max-width: 18rem;">
            <div class="card-header">
                Position 2
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <th style="  padding-bottom: 15px; ">Player</th>
                        <th style="padding-left: 50px;">%</th>
                    </tr>

                    @foreach (Player p in ViewBag.ListOfPosTwoPlayers)
                    {
                    <tr>
                        <td style="padding-bottom: 15px; padding-top: 15px;">@Html.Raw(p.FullName)</td>
                        <td style="padding-left: 50px;">@Html.Raw(p.WinPerPos(2).ToString("P0"))</td>
                    </tr>
                    }
                </table>
                <hr />
                <p class="card-text" style="color: limegreen"><i>Confirmed</i></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="max-width: 18rem;">
            <div class="card-header">
                Position 3
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <th style="  padding-bottom: 15px; ">Player</th>
                        <th style="padding-left: 50px;">%</th>
                    </tr>

                    @foreach (Player p in ViewBag.ListOfPosThreePlayers)
                    {
                        <tr>
                            <td style="padding-bottom: 15px; padding-top: 15px;">@Html.Raw(p.FullName)</td>
                            <td style="padding-left: 50px;">@Html.Raw(p.WinPerPos(3).ToString("P0"))</td>
                        </tr>
                    }
                </table>
                <hr />
                <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="max-width: 18rem;">
            <div class="card-header">
                Position 4
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <th style="  padding-bottom: 15px; ">Player</th>
                        <th style="padding-left: 50px;">%</th>
                    </tr>

                    @foreach (Player p in ViewBag.ListOfPosFourPlayers)
                    {
                        <tr>
                            <td style="padding-bottom: 15px; padding-top: 15px;">@Html.Raw(p.FullName)</td>
                            <td style="padding-left: 50px;">@Html.Raw(p.WinPerPos(4).ToString("P0"))</td>
                        </tr>
                    }
                </table>
                <hr />
                <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
            </div>
        </div>
    </div>
</div>