@model IEnumerable<SN_BNB.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationBuildingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationBuildingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>



            <td>
                <a asp-action="Delete" asp-route-id="@item.ID">
                    <img src="~/images/Archive.png" style="width:28px; height:28px" data-toggle="tooltip" title="Archive" />
                </a>
                <a asp-action="Edit" asp-route-id="@item.ID">
                    <img src="~/images/edit.png" style="width:28px; height:28px" data-toggle="tooltip" title="Edit" />
                </a> <span>|</span>
            </td>
        </tr>
}
    </tbody>
</table>
