@model IEnumerable<SN_BNB.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/team.css" rel="stylesheet" />

<div class="container bg-light">
    <div class="row pt-2">
        <div class="col-2">
            <h3>Players</h3>
        </div>
        <div class="col-2">
            @if (User.IsInRole("Admin"))
            {
                <p id="createNew">
                    <a style="color:purple;" asp-action="Create">Create New</a>
                </p>
            }
        </div>
        <div class="col-8">
            <p>
                <button class="btn btn-outline-success my-3 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="btnSearch">
                    Excel
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    @if (User.IsInRole("Admin"))
                    {
                        <form asp-action="ExcelUpload" style="text-align:center; margin-bottom:60px" method="post" enctype="multipart/form-data" class="form-inline">
                            <div class="form-group">
                                <label class="control-label">Excel File:</label>
                                <input type="file" class="btn" name="file" />
                                <input type="submit" value="Upload Data" class="btn btn-primary" />
                            </div>
                        </form>
                    }
                </div>
            </div>
            
        </div>
    </div>


    <form asp-action="Index">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" style="list-style:none;">
                    <li class="nav-item">
                        @Html.DropDownList("DivisionID", null, "Select Division", htmlAttributes: new { @class = "form-control", @style = "width:290px", onchange = "this.form.submit();" })
                    </li>
                </ul>

                @Html.DropDownList("TeamID", null, "Select a Team", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();", @style = "margin-right:10px;" })
                @Html.TextBox("searchString", null, htmlAttributes: new { @class = "form-control", @placeholder = "Search by Name", @style = "marging-right:10px;" })
                <button id="btnSearch" class="btn btn-outline-success my-3 my-sm-0" type="submit">Search</button>
            </div>

        </nav>
        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

        <div class="table-responsive-sm">
            <table class="table table-light table-hover table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="Player" class="btn btn-link" />
                        </th>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="Team" class="btn btn-link" />
                        </th>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="Played" class="btn btn-link" />
                        </th>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="Won" class="btn btn-link" />
                        </th>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="Lost" class="btn btn-link" />
                        </th>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="For" class="btn btn-link" />
                        </th>
                        <th>
                            <input id="playCol" type="submit" name="actionButton" value="Against" class="btn btn-link" />
                        </th>
                        <th>
                            <span data-toggle="tooltip" title="6= 3:0//  5 = 3:1//  4 = 3:2//  3 = 2:3//  2 = 1:3//  1 = 0:3">
                                <input id="playCol" type="submit" name="actionButton" value="Point(s)" class="btn btn-link" />
                            </span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="width:auto;">
                            @*<th></th>*@
                            <td id="aa">
                                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.FullName)</a>
                            </td>
                            <td>
                                <a href="/Teams/Details/@item.TeamID">
                                    @Html.DisplayFor(modelItem => item.Team.TeamName)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Played)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Win)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Loss)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.For)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Against)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Points)
                            </td>
                            <td style="width:120px">
                                @if (User.IsInRole("Admin") || User.IsInRole("Captain"))
                                {
                                    @*Make sure is a captain or admin*@
                                    @if (ViewBag.CaptainTeamID == -1 || item.TeamID == ViewBag.CaptainTeamID)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.ID">
                                            <img src="~/images/edit.png" style="width:28px; height:28px" data-toggle="tooltip" title="Edit" />
                                        </a> <span>|</span>
                                    }
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.ID">
                                        <img src="~/images/Archive.png" style="width:28px; height:28px" data-toggle="tooltip" title="Archive" />
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>