@model IEnumerable<SN_BNB.Models.News>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Admin"))
{

}

<br>
<h2>News</h2>
@if (User.IsInRole("Admin"))
{
    <p id="createNew">
        <a style="color:purple" asp-action="Create">Create New</a>
    </p>
}

<hr class="my-3">
<div class="container">
    <div class="row">
        <div class="col-3">
            <!sidebar>
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title) </a>
                                    </h5>
                                    <h6 class="card-subtitle text-muted">
                                        @item.TimeSince
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                }
        </div>
        <div class="col-9">
            @foreach (var item in Model)
            {
            <div class="jumbotron">
                <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                <hr />
                <p>
                    @Html.Raw(item.Content)
                </p><br />
                <h6 class="card-subtitle text-muted">
                    <i>
                        @Html.DisplayFor(modelItem => item.Date)
                    </i>
                </h6>

                @if (User.IsInRole("Admin"))
                {
                    <p style="color:purple">
                        <a asp-action="Edit" asp-route-id="@item.ID">
                            Edit
                        </a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.ID">
                            Delete
                        </a>
                    </p>
                }
            </div>

            }
        </div>
    </div>
</div>